.banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: -1;
    transform-style: preserve-3d;
}

.banner .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120%;
    background-size: auto auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: 0.1s;
}

.banner .bg-1 {
    background-image: url('../../assets/banner/layer_0.png');
    transform: translateZ(-300px) scale(4);
}

.banner .bg-2 {
    background-image: url('../../assets/banner/layer_1.png');
    transform: translateZ(-250px) scale(3.5);
}

.banner .bg-3 {
    background-image: url('../../assets/banner/layer_2.png');
    transform: translateZ(-200px) scale(3);
}

.banner .bg-4 {
    background-image: url('../../assets/banner/layer_3.png');
    transform: translateZ(-150px) scale(2.5);
}

.banner .bg-5 {
    background-image: url('../../assets/banner/layer_4.png');
    transform: translateZ(-100px) scale(2);
}

.banner .bg-6 {
    background-image: url('../../assets/banner/layer_5.png');
    transform: translateZ(-50px) scale(1.5);
}

.banner .bg-7 {
    background-image: url('../../assets/banner/layer_6.png');
    transform: translateZ(0px) scale(1);
}

@supports (background: color(display-p3 1 1 1)) {
    @media (dynamic-range: high) {
        .neon-red {
            --neon-glow: color(display-p3 1 0 0);
        }
    }
}

.banner h1 {
    color: #2d112b;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1200px) {
    .banner h1 {
        top: 25%;
        width: 350px;
        height: 150px;
    }
}

@media (max-width: 992px) {
    .banner h1 {
        top: 25%;
        width: 270px;
        height: 130px;
    }
}

@media (max-width: 768px) {
    .banner h1 {
        top: 25%;
        width: 260px;
        height: 130px;
    }
}

@media (max-width: 576px) {
    .banner h1 {
        top: 20%;
        width: 230px;
        height: 110px;
    }
}

@media (max-width: 400px) {
    .banner h1 {
        top: 20%;
        width: 200px;
        height: 100px;
    }
}